@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");
@import "reset.css"; /* 모든 웹 페이지에 기본적으로 적용되는 모든 style를 제거 */
@import "variables.css";

/* components */
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/icon-row.css";
@import "component/badge.css";
@import "component/dot.css";
@import "component/alt-screen-header.css";
@import "component/no-mobile.css";
@import "component/link-color.css";

/*screens*/

@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chat.css";

/*구글 폰트 */

body {
  font-family: "Open Sans", sans-serif;
  color: #2f363e;
  box-sizing: border-box;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
