#chat-screen {
  background-color: var(--chat-bg-color);
  height: 500vh;
}
#chat-screen .status-bar,
#chat-screen .alt-screen-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: var(--chat-bg-color);
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-screen-header {
  z-index: 1;
  top: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: none;
  }
  50% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}

.chat__timestamp {
  color: white;
  background-color: var(--gray-color);
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.message__author {
  display: block;
  margin-bottom: 5px;
}

.message__author,
.message__time {
  opacity: 0.8;
  font-size: 15px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  font-size: 18px;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  box-sizing: border-box;
}
.reply input {
  height: 20px;
  width: 100%;
  border: var(--main-border);
  border-radius: 30px;
  padding: 25px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply input,
.reply input::placeholder {
  font-size: 22px;
}

.reply__column {
  position: relative;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 6px;
  top: 6px;
}
.reply__column:last-child > i {
  right: 50px;
  top: 25px;
}

.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.reply i {
  opacity: 0.5;
}
.reply__column:last-child button i {
  opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3 ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 96vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
