.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-fiends__title {
  font-size: 18px;
  color: var(--gray-color);
}

.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 20px;
  color: var(--gray-color);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-bottom: 25px;
  font-size: 18px;
}

.open-chat__header span {
  opacity: 0.5;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px;
}

.open-post__title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 7px;
}
.open-post__hashtags {
  font-size: 20px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 7px;
}

.open-post__members {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.open-post__members img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  font-size: 18px;
  opacity: 0.5;
}

.open-post__member-status {
  color: #ff64c3;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  background-color: var(--gray-color);
  margin: 0px 5px;
}

.open-post__photo {
  position: relative;
}
.open-post__photo img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 5px;
}

@keyframes hearBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__heart-count:hover i {
  will-change: transform;
  animation: hearBeat 1s linear infinite;
}
